{% extends "layout/base_sidebar_boutique.html" %} 
{% load static %} 
{% load humanize %} 

{% block wrapper %} 

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-8">
			<div class="ibox">
				<div class="ibox-content">
					<p></p>
					<div class="">                                
						<ul class="nav nav-tabs">
							<li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Les commandes en cours</a></li>
							<li><a class="nav-link" data-toggle="tab" href="#tab-3"><i class="fa fa-money"></i> Transactions de caisse</a></li>
						</ul>
						<div class="tab-content" style="min-height: 300px;">


							<div id="tab-1" class="tab-pane active"><br>
								{% if perms.paramApp.commande %}
								<div class="row container-fluid">
									<button type="button" data-toggle=modal data-target='#modal-newcommande' class="btn btn-primary btn-sm dim float-right" onclick="delete_session('groupecommande_id')"><i class="fa fa-plus"></i> Nouvelle commande </button>
								</div>
								{% endif %}
								<div class="">
									<div class="ibox-content">
										{% if perms.paramApp.commande %}
										{% if datas|length > 0 %}
										<table class="footable table table-stripped toggle-arrow-tiny">
											<thead>
												<tr>
													<th data-toggle="true">Status</th>
													<th>Reference</th>
													<th>Livraison pour</th>
													<th>Reste</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for item in datas %}
												<tr style="border-bottom: 2px solid black">
													<td class="project-status">
														<span class="label label-{{ item.groupe.etat.classe }}">{{ item.groupe.etat.name }}</span>
													</td>
													<td>
														<small class="text-uppercase gras">Commande ({{ item.commandes | length}})</small><br>
														<small>{{ item.groupe.created_at|naturalday}}</small>
														{% if item.livraisons_encours|length > 0 %}
														<p class="text-blue">{{ item.livraisons_encours | length }} livraison{{ item.livraisons_encours|pluralize }} en cours pour cette commande</p>
														{% endif %}
													</td>
													<td>{{ item.groupe.datelivraison | naturalday }}</td>
													<td>
														<h5 class="gras text-orange">{{ item.groupe.reste_a_payer | intcomma }} {{ request.societe.devise }}</h5>
													</td>                                                            
													<td>
														<button data-toggle="modal" data-target="#infos-groupecommande-{{item.groupe.id}}" class="btn-white cursor" onclick="session('groupecommande_id', '{{item.groupe.id}}')"  >Options</button>
													</td>
												</tr>
												{% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<td colspan="5">
														<ul class="pagination float-right"></ul>
													</td>
												</tr>
											</tfoot>
										</table>
										
										{% else %}
										{% include 'extra/empty.html' %}
										{% endif %}
										{% endif %}

									</div>
								</div>
							</div>



							<div id="tab-3" class="tab-pane"><br>
								{% if perms.paramApp.comptabilite %}
								{% for mouvement in mouvements %}
									<div class="timeline-item">
										<div class="row">
											<div class="col-2 date" style="padding-right: 1%; padding-left: 1%;">
												<i data-toggle="tooltip" tiitle="Imprimer le bon de caisse" class="fa fa-file-text"></i>
												{{mouvement.created_at|date:"H:i"}}
												<br/>
												<small class="text-navy">{{mouvement.created_at|date:"d l Y"}}</small>
											</div>
											<div class="col-10 content">
												<div>
													<span class="">Opération N°<strong>{{mouvement.reference}}</strong></span>
													<span class="pull-right text-right text-{% if mouvement.type.etiquette|add:0 == request.typemouvement.DEPOT|add:0 %}green{% else %}red{% endif %}">
														<span class="gras" style="font-size: 16px">{{mouvement.montant|intcomma}} {{ request.societe.devise }} {% if mouvement.etat.etiquette|add:0 == request.etat.EN_COURS %}*{% endif %}</span> <br>
														<small>Par {{mouvement.mode.name}}</small><br>
														<a href="{% url 'fiches:boncaisse' mouvement.id %}" target="_blank" class="simple_tag"><i class="fa fa-file-text-o"></i> Bon de caisse</a>
													</span>
												</div>
												<p class="m-b-xs mp0">{{mouvement.comment}} </p>
												<p class="m-b-xs">{{mouvement.structure}} - {{mouvement.numero}}</p>
											</div>
										</div>
									</div>
									{% endfor %}             
									{% endif %}             
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="ibox selected">

					<div class="ibox-content">
						<div class="tab-content">

							<div>
								<div class="form-group">
									{% include 'extra/select.html' with instances=clients obj=client  %}   									
								</div>	
							</div><hr>


							<div id="contact-1" class="tab-pane active">
								<h2>{{client.name}}
									<i data-toggle="modal" data-target="#modal-client" class="pull-right fa fa-pencil cursor"></i>
								</h2>
								<h4>{{client.type.name}}</h4>
								<address>
									<i class="fa fa-phone"></i>&nbsp; {{client.contact}}<br>
									<i class="fa fa-map-marker"></i>&nbsp; {{client.adresse}}<br>
									<i class="fa fa-envelope"></i>&nbsp; {{client.email}}
								</address><hr>

								{% if perms.paramApp.comptabilite %}
								<div class="m-b-lg">
									<span>Acompte actuel du client</span><br>
									<h1 class="font-bold d-inline">{{client.acompte_actuel | intcomma}} {{ request.societe.devise }}</h1><br><br>

									<div class="row">
										<div class="col-6">
											<button type="button" data-toggle="modal" data-target="#modal-crediter" class="btn btn-info dim btn-block btn-xs"><i
												class="fa fa-plus"></i> Créditer
											</button>
										</div>
										{% if client.acompte_actuel > 0 %}
										<div class="col-6">
											<button type="button" data-toggle="modal" data-target="#modal-rembourser" class="btn btn-danger dim btn-block btn-xs"><i
												class="fa fa-minus"></i> Rembourser
											</button>
										</div>
										{% endif %}
									</div>

									<hr>

									<span>Dette actuelle du client</span><br>
									<h1 class="font-bold d-inline text-red">{{client.dette_totale | intcomma}} {{ request.societe.devise }}</h1> <br><br>
									
									{% if client.dette_totale > 0 %}
									<button type="button" onclick="reglerToutesDettes()" class="btn btn-danger dim btn-block"><i
										class="fa fa-money"></i> Régler toute la dette
									</button>
									{% endif %}                 
									{% endif %}                 

								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% include '../modals/client.html' with element=client %}
	{% include '../modals/crediter.html' with items=modepayements %}
	{% include '../modals/rembourser.html' with items=modepayements %}

	{% include 'commande/modals/new_commande.html' with modes=modepayements zones=zonelivraisons briques=briques %}


	{% for item in datas %}
		{% include 'commande/modals/commande_infos.html' with item=item %}
		{% include 'livraison/modals/new_livraison.html' with item=item %}
		{% include 'commande/modals/changer_produit.html' with item=item briques=briques %}
		{% for commande in item.commandes %}
			{% include 'commande/modals/regler_commande.html' with commande=commande modes=modepayements %}
			{% include 'commande/modals/liste_versement.html' with reglements=commande.commande_reglement.all %}
		{% endfor %} 
	{% endfor %} 




	{% endblock wrapper %} 

	{% block script %}
	<script>
		{% include "./client.js" %}
		{% include 'commande/modals/new_commande.js' %}
		{% include 'livraison/modals/livraison.js' %}
	</script>
	{% endblock %}
