[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
mysqlclient = "*"
python-dateutil = "*"
dateutils = "*"
django-post-office = "*"
django-debug-toolbar = "*"
django-crontab = "*"
mysql-client = "*"
python-gettext = "*"

[dev-packages]

[requires]
python_version = "3.8"
