
<div class="modal inmodal fade" id="modal-achatstock">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{% translate "Nouvel achat de brique" %}</h4>
            <small class="font-bold">{% translate "Renseigner ces champs pour enregistrer le nouvel achat" %} </small>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 class="text-uppercase">{% translate "Les produits de la commande" %}</h5>
                    </div>
                    <div class="ibox-content"><br>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody class="achatstock">
                                    <!-- rempli en Ajax -->
                                </tbody>
                            </table>

                            <div class="text-center">
                                {% for brique in briques %}
                                <button class="btn btn-white dim newproduit btn-sm" data-id="{{ brique.id }}" >{{ brique.name }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="ibox"  style="background-color: #eee">
                    <div class="ibox-title" style="padding-right: 2%; padding-left: 3%; ">
                        <h5 class="text-uppercase">{% translate "Finaliser l'achat" %} </h5>
                    </div>
                    <div class="ibox-content container-fluid"  style="background-color: #fafafa">
                        <form id="formAchat" >
                            <div>
                                <label>{% translate "Le fournisseur" %} <span style="color: red">*</span> </label>                                
                                <div class="input-group">
                                    {% include 'extra/select.html' with name='fournisseur' instances=fournisseurs  %}   
                                </div>
                            </div><br>
                            <div>
                                <label>{% translate "Etat de l'approvisionnement" %} <span style="color: red">*</span> </label>                                
                                <select class="select2 form-control" name="etat" style="width: 100%;">
                                    <option value="{{request.etat.EN_COURS}}">{% translate "Pas encore livré" %}</option>
                                    <option value="{{request.etat.TERMINE}}">{% translate "Déjà livré" %}</option>
                                </select>
                            </div><br>
                            <div>
                                <label>{% translate "Frais de transport" %} <span style="color: red">*</span> </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bank"></i></span><input type="text" name="transport" class="form-control">
                                </div>
                            </div><hr>
                            <div>
                                <label>{% translate "Mode de payement" %} <span style="color: red">*</span> </label>                                
                                <div class="input-group">
                                    {% include 'extra/select.html' with name='modepayement' instances=modepayements  %}   
                                </div>
                            </div><br>
                            <div class="no_modepayement_facultatif">
                                <div>
                                    <label>{% translate "Montant avancé" %}<span style="color: red">*</span> </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-money"></i></span><input type="text" value="0" min="0" name="avance" class="form-control">
                                    </div>
                                </div>
                            </div><br>
                            <div class="modepayement_facultatif">
                                <div>
                                    <label>{% translate "Structure d'encaissement" %}<span style="color: red">*</span> </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bank"></i></span><input type="text" name="structure" class="form-control">
                                    </div>
                                </div><br>
                                <div>
                                    <label>{% translate "N° numero dédié" %}<span style="color: red">*</span> </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-pencil"></i></span><input type="text" name="numero" class="form-control">
                                    </div>
                                </div>
                            </div> 
                        </form><br>
                        <h3><span>{% translate "Montant brut" %}</span> <span class="pull-right montant">0 {{request.societe.devise}} </span></h3>

                        <h3><span>{% translate "Avance" %}</span> <span class="pull-right avance">0 {{request.societe.devise}} </span></h3><br>
                        <h2 class="font-bold"><span>{% translate "Reste" %}</span> <span class="pull-right total">0 {{request.societe.devise}} </span></h2>
                        <hr/>
                        <button onclick="validerAchatStock()" class="btn btn-warning btn-block dim"><i class="fa fa-check"></i> {% translate "Valider l'achat de ce stock" %}</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>


