{% load i18n %} 
<div class="modal inmodal fade" id="modal-crediter">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">{% translate "Créditer le compte du forunisseur" %}</h5>
            </div>
            <form method="POST" id="formAcompte">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                        <label>{% translate "Montant à créditer" %} <span1>*</span1></label>
                        <div class="form-group">
                            <input type="number" number class="form-control" name="montant" required>
                        </div>
                    </div>   
                    <div class="col-sm">
                        <label>{% translate "Mode de payement" %} <span style="color: red">*</span> </label>
                        <div class="form-group">
                            {% include 'extra/select.html' with name='modepayement' instances=items  %}   
                        </div>
                    </div>
                    </div>
                    <div class="row modepayement_facultatif">
                        <div class="col-sm">
                            <label>{% translate "Structure d'encaissement" %}<span style="color: red">*</span> </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bank"></i></span><input type="text" name="structure" class="form-control">
                            </div>
                        </div><br>
                        <div class="col-sm">
                            <label>{% translate "N° numero dédié" %}<span style="color: red">*</span> </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span><input type="text" name="numero" class="form-control">
                            </div>
                        </div>
                    </div>                 
                </div><hr>
                <div class="container">
                    <button type="button" class="btn btn-sm  btn-default" data-dismiss="modal"><i class="fa fa-close"></i> {% translate "Annuler" %}</button>
                    <button class="btn btn-sm dim btn-success pull-right"><i class="fa fa-check"></i> {% translate "Créditer le compte" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
