{% extends "layout/base_sidebar_boutique.html" %} 
{% load static %} 
{% load myfilters %} 
{% load humanize %} 

{% block wrapper %} 
<div class="ibox">
    <div class="ibox-title">
        <h5 class="text-uppercase">Stock de briques</h5>
        <div class="ibox-tools">
             <button style="margin-top: -3%;" type="button" data-toggle=modal data-target='#modal-perteproduit' class="btn btn-danger btn-xs dim"><i class="fa fa-trash"></i> Enregistrer une perte </button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row text-center">
            {% for brique in briques.keys %}
            <div class="col-sm-4 col-md-3 col-lg-2 border-left border-bottom">
                <div class="p-xs">
                    <i class="fa fa-cube fa-2x text-dark"></i>
                    <div class="{% if briques|dict_value:brique <= brique.alert_stock %} clignote {% endif %}">
                        <h4 class="m-xs gras ">{{briques|dict_value:brique | start0 }} {{brique.name}}</h4>
                        <h6 class="no-margins text-uppercase gras">{{briques|dict_value:brique|multiply:brique.estimation|intcomma }} {{ request.societe.devise }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class=" animated fadeInRightBig">
        <div class="ibox ">
            <div class="ibox-title">
                <h5 class="float-left text-uppercase">Historiques du {{debut}} au {{fin}}</h5>
                <div class="ibox-tools">
                    {% include 'extra/filter_form.html' %}
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" class="border-none"></th>
                            {% for brique in briques %}
                                <th class="text-center"><small class="gras">{{ brique.name }}</small></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates.keys %}
                        <tr style="cursor: help">
                            <td class="gras ">{{ date }}</td>
                            {% for brique in briques %}
                                <td class="cursor myPopover text-center"
                                data-toggle="popover"
                                data-placement="right"
                                title="<small><b>{{ brique.name }}</b> | {{ date }}</small>"
                                data-trigger="hover"
                                data-html="true"
                                data-content="
                                <span>Production du jour : <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'production'|start0 }}</b></span><br>
                                <span>Stock acheté : <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'achat'|start0 }}</b></span><br>
                                <span>livraison du jour : <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'livree'|start0 }}</b></span><br>
                                <span class='text-red'>Perte Livraison: <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'perteL'|start0 }}</b></span><br>
                                <span class='text-red'>Perte Rangement: <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'perteR'|start0 }}</b></span><br>
                                <span class='text-red'>Autre Perte : <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'perteA'|start0 }}</b></span>
                                <hr style='margin:1.5%'>
                                <span>En stock de clôture : <b>{{ dates|dict_value:date|dict_value:brique|dict_value:'stock'|start0 }}</b></span><br> <span>">
                                    {{ dates|dict_value:date|dict_value:brique|dict_value:'stock'|start0 }}
                                </td>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr style="height: 18px;"></tr>
                    </tbody>
                </table> 
            </div>

        </div>
    </div>

        {% include "../modals/perte_produit.html" %}
</div>

{% endblock wrapper %} 
