{% extends "layout/base_sidebar_fabrique.html" %} 
{% load static %} 
{% load myfilters %} 
{% load humanize %} 

{% block wrapper %} 
<div class="ibox">
    <div class="ibox-title">
        <h5 class="text-uppercase">{% translate "Stock de ressources" %}</h5>
        <div class="ibox-tools">
             <button style="margin-top: -3%;" type="button" data-toggle=modal data-target='#modal-perteressource' class="btn btn-danger btn-xs dim"><i class="fa fa-trash"></i> {% translate "Enregistrer une perte" %} </button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row text-center">
            {% for ressource in ressources.keys %}
            <div class="col-sm-4 col-md-3 col-lg-2 border-left border-bottom">
                <div class="p-xs">
                    <i class="fa fa-cube fa-2x text-dark"></i>
                    <div class="{% if ressources|dict_value:ressource|dict_value:'stock' <= ressource.alert_stock %} clignote {% endif %}">
                        <h4 class="m-xs gras ">{{ressource.name}}</h4>
                        <h4 class="m-xs gras ">{{ressources|dict_value:ressource|dict_value:'stock' | start0 }} {{ressource.unite}}</h4>
                        <h6 class="no-margins ">Estim.: {{ressources|dict_value:ressource|dict_value:'estimation'|intcomma }} {{ request.societe.devise }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class=" animated fadeInRightBig">
        <div class="ibox ">
            <div class="ibox-title">
                <h5 class="float-left text-uppercase">{% translate "Historiques du" %} {{debut}} {% translate "au" %} {{fin}}</h5>
                <div class="ibox-tools">
                    {% include 'extra/filter_form.html' %}
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" class="border-none"></th>
                            {% for ressource in ressources %}
                                <th class="text-center"><small class="gras">{{ ressource.name }}</small></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates.keys %}
                        <tr class="item">
                            <td class="gras ">{{ date }}</td>
                            {% for ressource in ressources %}
                                <td class="cursor myPopover text-center"
                                data-toggle="popover"
                                data-placement="right"
                                title="<small><b>{{ ressource.name }}</b> | {{ date }}</small>"
                                data-trigger="hover"
                                data-html="true"
                                data-content="
                                <span>Consommation du jour : <b>{{ dates|dict_value:date|dict_value:ressource|dict_value:'consommee'|start0 }}</b></span><br>
                                <span>Stock acheté : <b>{{ dates|dict_value:date|dict_value:ressource|dict_value:'achat'|start0 }}</b></span><br>
                                <span class='text-red'>Perte : <b>{{ dates|dict_value:date|dict_value:ressource|dict_value:'perte'|start0 }}</b></span>
                                <hr style='margin:1.5%'>
                                <span>En stock de clôture : <b>{{ dates|dict_value:date|dict_value:ressource|dict_value:'stock'|start0 }}</b></span><br> <span>">
                                    {{ dates|dict_value:date|dict_value:ressource|dict_value:'stock'|start0 }}
                                </td>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr style="height: 18px;"></tr>
                    </tbody>
                </table> 
            </div>

        </div>
    </div>

        {% include "../modals/perte_ressource.html" %}
</div>

{% endblock wrapper %} 
