{% load static %} 
{% load i18n %}
{% load humanize %}


<div class="footer hidden-print">
	<div class="float-right">
		{% translate "Copyright" %} &copy; 2019 - {% now "Y" %} | {% translate "By" %} <strong>DEVARIS 21</strong>.
	</div>
	<div>
		<strong class="text-uppercase"><img style="height: 25px; width: 25px; margin-right: 10px" class="img-circle" src="{% static request.societe.image %}"> {{request.agence.name}}
		</strong> | <span class="" title="{% translate 'Fin de l abonnement' %}"> <i class="fa fa-calendar"></i> {{ request.mycompte.expiration }} </span>
	</div>
</div>
