{% load static %}
{% load humanize %}

<div class="footer hidden-print">
	<div class="float-right">
		Copyright &copy; 2019 - {% now "Y" %} | By <strong>DEVARIS 21</strong>.
	</div>
	<div>
		<strong class="text-uppercase"><img style="height: 25px; width: 25px; margin-right: 10px" class="img-circle" src="{% static request.societe.image %}"> {{request.agence.name}}
		</strong> | <span class="" title="Fin de l'abonnement"> <i class="fa fa-calendar"></i> {{ request.mycompte.expiration }} </span>
	</div>
</div>
