{% load static %}
{% load myfilters %}
{% load humanize %}


<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <h1 class="logo-name text-center" style="font-size: 50px; letter-spacing: 5px; margin: 0% auto !important; padding: 0% !important;">BRICX</h1>
            <li class="nav-header" style="padding: 15px 10px !important; background-color: orange">
                <div class="dropdown profile-element">                        
                    <div class="row">
                        <div class="col-3">
                            <img alt="image de profil" class="rounded-circle"  style="width: 35px; height: 35px" src="{% static request.user.employe.avatar %}"/>
                        </div>
                        <div class="col-9">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">{{ request.user.get_full_name }}</span>
                                <span class="text-muted text-xs block">{{ request.societe.socialreason }}</span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="{% url 'auth:locked' %}">Vérouiller la session</a></li>
                                <li><a class="dropdown-item" href="#" id="btn-deconnexion" >Déconnexion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="logo-element">
                    BRICX
                </div>
            </li>

            <ul class="nav metismenu" id="side-menu">
                <li class="" id="dashboard">
                    <a href="{% url 'boutique:dashboard_boutique' %}"><i class="fa fa-tachometer"></i> <span class="nav-label">Tableau de bord</span></a>
                </li>
                <li class="" id="clients">
                    <a href="{% url 'boutique:clients:clients' %}"><i class="fa fa-users"></i> <span class="nav-label">Liste des clients</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>


                <li class="" id="stock">
                    <a href="{% url 'production:stock_brique' %}"><i class="fa fa-cubes"></i> <span class="nav-label">Stock de briques</span></a>
                </li>

                <li class="" id="conversion">
                    <a href="{% url 'boutique:commandes:conversions' %}"><i class="fa fa-refresh"></i> <span class="nav-label">Conversions de briques </span> </a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>


                <li class="" id="commandes">
                    <a href="{% url 'boutique:commandes:commandes' %}"><i class="fa fa-handshake-o"></i> <span class="nav-label">Commandes de clients</span> <span class="label label-warning float-right">{{ request.commandes | length |start0}}</span></a>
                </li>
                <li class="" id="livraisons">
                    <a href="{% url 'boutique:livraisons:livraisons' %}"><i class="fa fa-truck"></i> <span class="nav-label">Livraisons en cours</span> <span class="label label-warning float-right">{{ request.livraisons | length |start0}}</span> </a>
                </li>
                <li class="">
                    <a href="{% url 'boutique:commandes:prixparzone' %}"><i class="fa fa-list"></i> <span class="nav-label">Voir les prix par zone</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>
                


                <li class="" id="rapportjour">
                    <a href="{% url 'boutique:rapport_du_jour' request.now|date:'Y' request.now|date:'m' request.now|date:'d' %}"><i class="fa fa-calendar"></i> <span class="nav-label">Rapport du Jour</span></a>
                </li>
                <?php } ?>


                <li class="" id="tricycle">
                    <a href="{% url 'boutique:livraisons:tricycles' %}"><i class="fa fa-bicycle"></i> <span class="nav-label">Payements tricycles</span> <span class="label label-warning float-right">{{ request.tricycles | length |start0}}</span> </a>
                </li>
                <li class="" id="caisse">
                    <a href="{% url 'tresorerie:caisse' %}"><i class="fa fa-money"></i> <span class="nav-label">La Caisse</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>
            </ul>

        </ul>

    </div>
</nav>

<style type="text/css">
li.dropdown-divider{
   !important;
}
</style>




<style type="text/css">
li.dropdown-divider{
   !important;
}
</style>

