{% load static %}
{% load myfilters %}
{% load humanize %}


<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <h1 class="logo-name text-center" style="font-size: 50px; letter-spacing: 5px; margin: 0% auto !important; padding: 0% !important;">BRICX</h1>
            <li class="nav-header" style="padding: 15px 10px !important; background-color: orange">
                <div class="dropdown profile-element">                        
                    <div class="row">
                        <div class="col-3">
                            <img alt="image de profil" class="rounded-circle"  style="width: 35px; height: 35px" src="{% static request.user.employe.avatar %}"/>
                        </div>
                        <div class="col-9">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">{{ request.user.get_full_name }}</span>
                                <span class="text-muted text-xs block">{{ request.societe.socialreason }}</span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="{% url 'auth:locked' %}">Vérouiller la session</a></li>
                                <li><a class="dropdown-item" href="#" id="btn-deconnexion" >Déconnexion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="logo-element">
                    BRICX
                </div>
            </li>

            <ul class="nav metismenu" id="side-menu">
                <li class="" id="dashboard">
                    <a href="{% url 'fabrique:dashboard_fabrique' %}"><i class="fa fa-tachometer"></i> <span class="nav-label">Tableau de bord</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>


                <li class="" id="stock">
                    <a href="{% url 'production:stock_brique' %}"><i class="fa fa-cubes"></i> <span class="nav-label">Stock de briques</span></a>
                </li>
                <li class="" id="ressources">
                    <a href="{% url 'production:stock_ressource' %}"><i class="fa fa-cubes"></i> <span class="nav-label">Stock de ressources </span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #aaa; "></li>        

                

                <li class="" id="tricycle">
                    <a href="{% url 'boutique:livraisons:tricycles' %}"><i class="fa fa-bicycle"></i> <span class="nav-label">Payements tricycles</span> <span class="label label-warning float-right">{{ request.tricycles | length |start0}}</span> </a>
                </li>
                <li class="" id="caisse">
                    <a href="{% url 'tresorerie:caisse' %}"><i class="fa fa-money"></i> <span class="nav-label">La Caisse</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #000; "></li>



                <li class="" id="rapportjour">
                    <a href="<?= $this->url($this->section, "rapports", "rapportjour") ?>"><i class="fa fa-calendar"></i> <span class="nav-label">Rapport du Jour</span></a>
                </li>
                <li class="" id="rapportproduction">
                    <a href="<?= $this->url($this->section, "rapports", "rapportproduction") ?>"><i class="fa fa-file-text-o"></i> <span class="nav-label">Rapport de production</span></a>
                </li>
                <li style="margin: 3% auto"><hr class="mp0" style="background-color: #aaa; "></li>



                <li class="" id="productions">
                    <a href="{% url 'production:productions' %}"><i class="fa fa-building-o"></i> <span class="nav-label">Les productions </span></a>
                </li>
                <li class="" id="achatstock">
                    <a href="{% url 'fabrique:appros:achatstock' %}"><i class="fa fa-handshake-o"></i> <span class="nav-label">Achat de briques </span> <?php if (count($achatstock__) > 0) { ?> <span class="label label-warning float-right"><?= count($achatstock__) ?></span> <?php } ?></a>
                </li>
                <li >
                    <a href="#"><i class="fa fa-trash"></i> <span class="nav-label">Les pertes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="perteproduits"><a href="{% url 'production:perte_brique' %}">Perte de briques</a></li>
                        <li id="perteressources"><a href="{% url 'production:perte_ressource' %}">Perte de ressources</a></li>
                    </ul>
                </li>
                <li class="dropdown-divider"></li>

                <li class="" id="fournisseurs">
                    <a href="{% url 'fabrique:appros:fournisseurs' %}"><i class="fa fa-address-book-o"></i> <span class="nav-label">Liste des Fournisseurs</span></a>
                </li>
                <li class="" id="approvisionnements">
                    <a href="{% url 'fabrique:appros:approvisionnements' %}"><i class="fa fa-bus"></i> <span class="nav-label">Approvisionnements </span> <?php if (count($approvisionnements__) > 0) { ?> <span class="label label-warning float-right"><?= count($approvisionnements__) ?></span> <?php } ?></a>
                </li>
                <li class="dropdown-divider"></li>              


            </ul>

        </ul>

    </div>
</nav>

<style type="text/css">
li.dropdown-divider{
   !important;
}
</style>




<style type="text/css">
li.dropdown-divider{
   !important;
}
</style>

