<div class="social-action dropdown" style="margin-top: 0%">
	<button data-toggle="dropdown" onclick="session('commande-encours', {{groupe.id}})" class="dropdown-toggle btn-white cursor">Options</button>
	<ul class="dropdown-menu">
		<li class="text-green" data-toggle="modal" data-target="#infos-groupecommande-{{groupe.id}}"><a style="padding: 3px" href="#"><i class="fa fa-eye"></i> Voir les détails</a></li>
		<li class="text-green" onclick="fairenewcommande('{{groupe.id}}')"><a style="padding: 3px" href="#"><i class="fa fa-plus"></i> Lui ajouter commande</a></li>
		{% if groupe.etat.etiquette != Etat.EN_COURS %}
			<li class="border"></li>
			<li class="text-orange" onclick="newlivraison('{{groupe.id}}')"><a style="padding: 3px" href="#"><i class="fa fa-truck"></i> Faire une livraison</a></li>
			<li class="" onclick="changement('{{groupe.id}}')"><a style="padding: 3px" href="#"><i class="fa fa-history"></i> convertir les produits</a></li>
		{% endif %}
	</ul>
</div>