
<div class="modal inmodal fade" id="modal-produit{{element.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{% translate "Formulaire de produits" %}</h4>
            <p class="font-bold">{% translate "Renseigner ces champs pour enregistrer les informations" %}</p>
        </div>
        <form method="POST" class="formShamman" classname="BriqueForm" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>{% translate "Nom du produit" %}<span1>*</span1></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name"  value="{{element.name}}"  required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>{% translate "Description du produit" %}<span1>*</span1></label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{element.comment}}"  name="comment">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>{% translate "Image" %}</label>
                        <div class="">
                            <img style="width: 80px;" src="" class="img-thumbnail logo">
                            <input class="hide" type="file" name="image">
                            <button type="button" class="btn btn-sm bg-purple pull-right btn_image"><i class="fa fa-image"></i> {% translate "Ajouter une image" %}</button>
                        </div>
                    </div>
                </div>
            </div><hr>
            <div class="container">
                <input type="hidden" value="{{element.id}}"  name="id">
                <button type="button" class="btn btn-sm  btn-default" data-dismiss="modal"><i class="fa fa-close"></i> {% translate "Annuler" %}</button>
                <button class="btn btn-sm btn-success pull-right"><i class="fa fa-check"></i> {% translate "Enregistrer" %}</button>
            </div>
            <br>
        </form>
    </div>
</div>
</div>
