{% extends request.base_template %}
{% load static %} 
{% load myfilters %} 
{% load humanize %} 

{% block wrapper %} 


<div class="wrapper wrapper-content">
    <div class="animated fadeInRightBig">
        <div class="ibox">
         <div class="ibox-title">
            <h5>Recapitulatif de la journée</h5>
            <div class="ibox-tools">
                {% include 'extra/filter_form_day.html' %}
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <img style="width: 20%" src="{% static request.societe.image %}">
                </div>
                <div class="col-sm-8 text-right">
                    <h2 class="title text-uppercase gras">Recapitulatif de la journée</h2>
                    <h3>du {{date|date:"l d F Y"}}</h3>
                </div>
            </div><hr><br>

            <div class="row">
                <div class="col-sm-8" style="border-right: 2px solid black">

                    {% if perms.paramApp.commande %}
                    <div>
                     <h2 class="text-uppercase text-center">Commandes du jour</h2>
                     <div class="">
                        <table class="table table-bordered mp0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    {% for brique in briques %}
                                    <th class="text-center">{{ brique.name }}</th>
                                    {% endfor %}

                                </tr>
                            </thead>
                            <tbody>
                                {% for commande in commandes.keys %}
                                <tr>
                                    <td data-toggle="tooltip" title="imprimer le bon de commande">
                                        <a target="_blank" href="{% url 'fiches:commande' commande.id %}">
                                            <i class="d-block fa fa-file-text fa-2x text-orange"></i>
                                        </a>                               
                                    </td>
                                    <td>
                                        <h5 class="mp0">{{ commande.groupecommande.client.name }}</h5>
                                        <span> {{commande.zone.name}} | {{commande.created_at | date:"H:i"}}</span>
                                    </td>
                                    {% for brique in briques %}
                                    <td class="text-center">{{commandes|dict_value:commande|dict_value:brique}}</td>
                                    {% endfor %}
                                </tr>
                                {% empty %}
                                <p class="text-center text-muted italic">Aucune commande ce jour </p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

                {% if perms.paramApp.livraison %}
                <hr><br><br>
                <div>
                    <h2 class="text-uppercase text-center">Livraisons du jour</h2>
                    <div class="">
                       <table class="table table-bordered mp0">
                           <thead>
                               <tr>
                                   <th></th>
                                   <th></th>
                                   {% for brique in briques %}
                                   <th class="text-center">{{ brique.name }}</th>
                                   {% endfor %}

                               </tr>
                           </thead>
                           <tbody>
                               {% for livraison in livraisons.keys %}
                               <tr>
                                   <td data-toggle="tooltip" title="imprimer le bon de livraison">
                                       <a target="_blank" href="{% url 'fiches:livraison' livraison.id %}">
                                           <i class="d-block fa fa-file-text fa-2x text-green"></i>
                                       </a>                               
                                   </td>
                                   <td>
                                        <h5 class="mp0">{{ livraison.groupecommande.client.name }}</h5>
                                        <span> {{livraison.zone.name}} | {{livraison.created_at | date:"H:i"}}</span>
                                    </td>
                                   {% for brique in briques %}
                                   <td class="text-center">{{livraisons|dict_value:livraison|dict_value:brique}}</td>
                                   {% endfor %}
                               </tr>
                               {% empty %}
                               <p class="text-center text-muted italic">Aucune livraison ce jour </p>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}


               {% if perms.paramApp.production %}
               <hr><br><br>
               <div>
                   <h2 class="text-uppercase text-center">Production du jour</h2>
                   <div class="">
                      <table class="table table-bordered mp0">
                          <thead>
                              <tr>
                                  <th></th>
                                  {% for brique in briques %}
                                  <th class="text-center">{{ brique.name }}</th>
                                  {% endfor %}

                              </tr>
                          </thead>
                          <tbody>
                              {% for prod in production.keys %}
                              <tr>
                                  <td>{{ prod.employe.name }}</td>
                                  {% for brique in briques %}
                                  <td class="text-center">{{production|dict_value:prod|dict_value:brique}}</td>
                                  {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                

              
              {% if perms.paramApp.approvisionnement %}
              <hr><br><br>
              <div>
                  <h2 class="text-uppercase text-center">Approvisionnements du jour</h2>
                  <div class="">
                     <table class="table table-bordered mp0">
                         <thead>
                             <tr>
                                 <th></th>
                                 <th></th>
                                 {% for ressource in ressources %}
                                 <th class="text-center">{{ ressource.name }}</th>
                                 {% endfor %}

                             </tr>
                         </thead>
                         <tbody>
                             {% for appro in appros.keys %}
                             <tr>
                                 <td data-toggle="tooltip" title="imprimer le bon d'pprovisionnement">
                                     <a target="_blank" href="{% url 'fiches:approvisionnement' appro.id %}">
                                         <i class="d-block fa fa-file-text fa-2x text-green"></i>
                                     </a>                               
                                 </td>
                                 <td>
                                     <h4>{{ appro.fournisseur.name }}</h4>
                                     <span>{{ appro.created_at }}</span>
                                 </td>
                                 {% for ressource in ressources %}
                                 <td class="text-center">{{appros|dict_value:appro|dict_value:ressource|default:0}} {{ ressource.unite }}</td>
                                 {% endfor %}
                             </tr>
                             {% empty %}
                             <p class="text-center text-muted italic">Aucune approvisionnement ce jour </p>
                             {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>

             {% endif %}


             {% if perms.paramApp.comptabilite %}
                         <hr><br><br>
                                <div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-operation">
                                            <thead>
                                                <tr class="text-center text-uppercase">
                                                    <th colspan="2" style="visibility: hidden; width: 65%"></th>
                                                    <th>Entrée</th>
                                                    <th>Sortie</th>
                                                    <th>Résultats</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tableau">
                                                <tr>
                                                    <td colspan="2">Report de la caisse </td>
                                                    <td class="text-center">-</td>
                                                    <td class="text-center">-</td>
                                                    <td style="background-color: #fafafa" class="text-center">{{report|intcomma}} {{request.societe.devise}}</td>
                                                </tr>
                                                {% for mouvement in mouvements.keys %}
                                                    <tr>
                                                        <td class="text-center" width="15"><a target="_blank" href="{% url 'fiches:boncaisse' mouvement.id %}"><i class="fa fa-file-text-o fa-2x"></i></a> 
                                                        </td>
                                                        <td>
                                                            <h6 style="margin-bottom: 3px" class="mp0 text-uppercase gras text-{% if mouvement.type.etiquette|add:0 == request.typemouvement.DEPOT|add:0 %}green {% else %}red{% endif %}">{{mouvement.name}}        
                                                            <span class="pull-right"><i class="fa fa-clock-o"></i> {{mouvement.created_at}}</span>
                                                        </h6>
                                                        <i>{{mouvement.comment}} ## <u style="font-size: 9px; font-style: italic;">{{mouvement.structure}} - {{mouvement.numero}}</u></i>
                                                    </td>
                                                        {% if mouvement.type.etiquette|add:0 == request.typemouvement.DEPOT|add:0 %}
                                                        <td class="text-center text-green gras" style="padding-top: 12px;">
                                                            {{mouvement.montant|intcomma}} {{request.societe.devise}}
                                                        </td>
                                                        <td class="text-center"> - </td>
                                                        {% elif mouvement.type.etiquette|add:0 == request.typemouvement.RETRAIT|add:0 %}
                                                        <td class="text-center"> - </td>
                                                        <td class="text-center text-red gras" style="padding-top: 12px;">
                                                            {{mouvement.montant|intcomma}} {{request.societe.devise}}
                                                        </td>
                                                    {% endif %}
                                                    <td class="text-center gras" style="padding-top: 12px; background-color: #fafafa">{{mouvements|dict_value:mouvement|intcomma}} {{request.societe.devise}}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr style="height: 15px;"></tr>
                                            <tr>
                                                <td style="border-right: 2px dashed grey" colspan="2"><h4 class="text-uppercase mp0 text-right">Total des comptes au {{date}}</h4></td>
                                                <td><h3 class="text-center text-green">{{total_entree |intcomma}} {{request.societe.devise}}</h3></td>
                                                <td><h3 class="text-center text-red">{{total_depense|intcomma}} {{request.societe.devise}}</h3></td>
                                                <td style="background-color: #fafafa"><h3 class="text-center text-blue gras">{{solde_a_la_date|intcomma}} {{request.societe.devise}}</h3></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                {% endif %}


                            </div>
                            <div class="col-sm-4 text-right">
                                <h4 class="text-uppercase">Employés connectés</h4>
                                <ul>
                                    {% for employe in employes %}
                                        <li>{{employe.name}}</li>
                                    {% endfor %}
                                    </ul><br>
                                    
                                    <hr>

                                    {% if perms.paramApp.production %}
                                    <h4 class="text-uppercase">Coût de la production</h4><br>   

                                    <h6 class="text-uppercase">Coût de production</h6>
                                    <h3 class="text-info" >{{prod.montant_production|rounded|intcomma}} {{request.societe.devise}}</h3>

                                    <h6 class="text-uppercase">Coût de Rangement</h6>
                                    <h3 class="text-blue">{{prod.montant_rangement|rounded|intcomma}} {{request.societe.devise}}</h3>

                                    <h6 class="text-uppercase">Coût de livraison</h6>
                                    <h3 class="text-warning">{{prod.montant_livraison|rounded|intcomma}} {{request.societe.devise}}</h3>
                                    <hr>
                                    {% endif %}


                                    {% if perms.paramApp.comptabilite %}
                                    <h4 class="text-uppercase">SOLDE DU COMPTE</h4>
                                    <br>
                                    <div class="">
                                        <small>Solde en Ouverture</small>
                                        <h2 class="no-margins">{{solde_ouverture|intcomma}} {{request.societe.devise}}</h2>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div><br>

                                    <small>Entrées du jour</small>
                                    <h3 class="no-margins text-green">{{entree_du_jour|intcomma}} {{request.societe.devise}}</h3>
                                    <br>

                                    <small>Dépenses du jour</small>
                                    <h3 class="no-margins text-red">{{depense_du_jour|intcomma}} {{request.societe.devise}}</h3>
                                    <br>

                                    <div class="">
                                        <small>Solde à la fermeture</small>
                                        <h2 class="no-margins">{{solde_fermeture|intcomma}} {{request.societe.devise}}</h2>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>
{% endif %}
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% endblock wrapper %} 

