{% extends "layout/base_top.html" %} 
{% load static %} 
{% load myfilters %} 
{% load humanize %} 

{% block body %} 

<div class="animated fadeInRightBig container-fluid">

    <h1 class="text-center display-4 text-uppercase">{{agence.name}}</h1><br>

    <div class="row">



        <div class="col-sm-6 bloc">
            <div class="ibox border">
                <div class="ibox-title">
                    <h5 class="text-uppercase">Stock initial des matières premières</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Libéllé</th>
                                <th>Unité</th>
                                <th>Stock initial</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ligne in agence.agence_initialressource.all %}
                                <tr>
                                    <td class="gras">{{ligne.ressource.name}}</td>
                                    <td>{{ligne.ressource.unite}}</td>
                                    <td width="110px">
                                        {% if ligne.ressource.active %}
                                            <input type="text" title="Stock initial" number class="form-control input-xs text-center maj" value="{{ligne.quantite}}" name="initialressourceagence" id="{{ligne.id}}">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <div class="col-md-12 bloc">
            <div class="ibox border">
                <div class="ibox-title">
                    <h5 class="text-uppercase">Stock initial par produit dans cette agence</h5>
                </div>
                <div class="ibox-content">
                    <div class="row text-center">
                        {% for ligne in agence.agence_initialbrique.all %}
                            <div class="col-sm-4 col-md-3 col-lg-2 border-left border-bottom">
                                <div class="p-xs">
                                    <i class="fa fa-cube fa-2x text-dark"></i>
                                    <h6 class="text-uppercase gras"><{{brique.name}}</h6>

                                    <input type="text" title="Stock initial" number class="form-control input-xs text-center maj" value="{{ligne.quantite}}" name="initialproduitagence" id="{{ligne.id}}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock body %} 