{% extends "layout/base_top.html" %} 
{% load static %} 
{% load i18n %} 
{% load myfilters %} 
{% load humanize %} 

{% block body %} 

<div class="animated fadeInRightBig container-fluid">

    <div class="row">
        <div class="col-sm-12 bloc">
            <div class="ibox border">
                <div class="ibox-title">
                    <h5 class="text-uppercase">{% translate "Liste de vos Agences" %}</h5>
                    <div class="ibox-tools">
                        <a class="btn_modal btn btn-xs btn-white" data-toggle="modal" data-target="#modal-agence">
                            <i class="fa fa-plus"></i> {% translate "Ajouter" %}
                        </a>
                    </div>
                </div>
                <div class="">
                    <br>
                    <div class="row justify-content-center">
                        {% for agence in agences %}
                        <div class="col-md-4 col-sm-6 ">
                            <a href="{% url 'administration:agence' agence.id %}">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-9">
                                                <h3 class="text-uppercase gras text-navy">{{agence.name}}</h3>
                                                <h5 class="no-margins text-muted">{{agence.lieu}}</h5>
                                            </div>
                                            <div class="col-3 text-right">
                                                <i class="fa fa-hospital-o fa-5x text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            {% endfor %}
                            </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% include '../modals/agence.html' %}

{% endblock body %} 




{% block script %} 
<script>
    {% include './organisation.js' %}
</script>
{% endblock script %} 
