{% load static %}
{% load myfilters %}
<div class="modal inmodal fade" id="modal-changement-{{item.groupe.id}}" style="z-index: 99999999">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{% translate "Nouveau interchangement de produit" %}</h4>
            <small class="font-bold">{% translate "Renseigner ces champs pour enregistrer le changement" %}</small>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 class="text-uppercase">{% translate "Définissez le changement de briques" %}</h5>
                    </div>
                    <div class="ibox-content"><br>
                        <div class="table-responsive">
                            <table class="table  table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">{% translate "Qté actuelle" %}</td>
                                        <td></td>
                                        <td>{% translate "Nouvelle Qté" %}</td>
                                    </tr>
                                </thead>
                                <tbody class="commande">
                                    {% for brique in briques %}
                                        <tr class="border-0 border-bottom" data-id="{{ brique.id }}">
                                            <td >
                                                <img style="width: 40px" src="{% static brique.image %}">
                                            </td>
                                            <td class="text-left">
                                                <h4 class="mp0 text-uppercase">{{ brique.name }}</h4>
                                                <small>{{ brique.comment }}</small>
                                            </td>
                                            <td><h3 class="gras text-center">{{item.briques|dict_value:brique | start0 }}</h3></td>
                                            <td><h3 class="gras">=></h3></td>
                                            <td width="105"><input type="number" number class="form-control text-center gras" value="{{item.briques|dict_value:brique}}" max="{{item.briques|dict_value:brique}}"></td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="ibox"  style="background-color: #eee">
                <div class="ibox-title" style="padding-right: 2%; padding-left: 3%; ">
                    <h5 class="text-uppercase">{% translate "Finaliser le changement" %}</h5>
                </div>
                <div class="ibox-content"  style="background-color: #fafafa">
                    <form class="formChangement">
                        <div>
                            <label>{% translate "Motif du changement" %} </label>
                            <textarea class="form-control" rows="4" name="comment"></textarea>
                        </div><br>
                        <hr/>
                        <button type="submit" class="btn btn-default btn-block dim"><i class="fa fa-check"></i> {% translate "Valider le changement" %}</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</div>


