{% load static %}
{% load humanize %}
{% load myfilters %}

<div class="modal inmodal fade" id="infos-groupecommande-{{ item.groupe.id }}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-content">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="row">
                        <div class="col-sm-5">
                          <div class="row">
                            <div class="col-3">
                                <img style="height: 100px" src="{% static request.societe.logo %}">
                            </div>
                            <div class="col-9">
                                <h5 class="gras text-uppercase text-orange">{{ request.societe.name }}</h5>
                                <h5 class="mp0">{{ request.societe.postale }}</h5>
                                <h5 class="mp0">Tél: {{ request.societe.contact }}</h5>
                                <h5 class="mp0">Email: {{ request.societe.email }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 text-right">
                      <h2 class="title text-uppercase gras">Fiche de commande</h2>
                      <h3 class="text-uppercase">{{ item.groupe.client.name}} // <span style="font-weight: normal;"><{{ item.groupe.client.type.name}}</span></h3>
                        <h5>{{ item.groupe.client.contact}} // {{ item.groupe.client.email }}</h5>
                    </div>
                </div><hr>

                <div class="scroll" style="overflow-x: scroll;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                {% for brique in item.briques %}
                                <th class="text-center" style="padding: 2px">
                                    <img style="height: 20px" >
                                    <span class="small">{{ brique.name }}</span>
                                </th>
                                {% endfor %}
                                <th style="width: 150px" class="text-center">RESTE A PAYER</th>
                                <th class="text-center">OPTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for element in item.sort_lignes %}
                            {% if element.tipe == "commande" %}
                            <tr>
                              <td data-toggle="tooltip" title="Supprimer la commande">
                                <i class="fa fa-trash fa-2x d-block text-red cursor" onclick="delete_element('commande', '{{ element.id }}')"></i> 
                            </td>
                            <td>
                                <h5 class="text-uppercase mp0">Commande N°{{element.reference}}</h5>
                                <small>{{element.created_at | naturaltime }}</small>
                            </td>
                            <td data-toggle="tooltip" title="imprimer le bon de commande">
                                <a target="_blank" href="{% url 'fiches:commande' element.id %}">
                                    <i class="d-block fa fa-file-text fa-2x text-orange"></i>
                                </a>                               
                            </td>
    
                            {% for brique in item.briques %}
                            <td>
                                <h3 class="text-orange text-center"> {{ element.all_briques|dict_value:brique | start0 }}</h3>
                            </td>
                            {% endfor %}
    
                            <td class="text-center">
                                <h3 class="text-danger">{{ element.reste_a_payer| intcomma }} {{ request.societe.devise }} </h3>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-info btn-xs dim" title="Voir la liste des versements pour cette commande" data-toggle="modal" data-target="#modal-versements-commande-{{ element.id }}"><i class="fa fa-list"></i> </button>
                                {% if element.reste_a_payer > 0 %}
                                <button class="btn btn-danger btn-xs dim" data-toggle="modal" data-target="#modal-regler-commande-{{ element.id }}"><i class="fa fa-money"></i> Regler le reste</button>
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% else %}
                        
                        <tr>
                            <td data-toggle="tooltip" >
                                {% if element.etat.etiquette|add:0 == request.etat.EN_COURS|add:0 %}
                                <i title="Annuler la livraison" class="fa fa-close fa-2x d-block text-red cursor" onclick="delete_element('commande', '{{ element.id }}')"></i> 
                                {% endif %}
                            </td>
                            <td>
                              <h5 class="text-uppercase mp0">Livraison N°{{element.reference}}</h5>
                              <small>{{element.created_at | naturaltime }}</small>
                            </td>
                          <td data-toggle="tooltip" title="imprimer le bon de livraison">
                              <a target="_blank" href="{% url 'fiches:livraison' element.id %}">
                                  <i class="d-block fa fa-file-text fa-2x text-green"></i>
                                </a>                               
                            </td>
                            
                            {% for brique in item.briques %}
                            <td>
                                <h3 class="text-green text-center"> {{ element.all_briques|dict_value:brique | start0 }}</h3>
                            </td>
                            {% endfor %}
  
                          <td class="text-center">
                              <h3 class="text-danger"></h3>
                          </td>
                          <td class="text-center">
                              
                          </td>
                      </tr>

                        {% endif %}

                        {% endfor %}
    
                        <tr style="height: 20px;"></tr>
    
                        <tr>
                            <td colspan="3"><h2 class="text-uppercase text-right">Reste à livrer : </h2></td>
                            {% for brique in item.briques %}
                            <td widtd="90" class="text-center">
                                    <h2 class="gras">{{ item.briques|dict_value:brique | start0 }}</h2>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
                </div><br><hr>

            <div class="row text-center" style="font-size: 12px">
                {% if item.groupe.etat.etiquette|add:"0" == request.etat.EN_COURS|add:"0" %}
                    <div class="col-md">
                        <button class="btn btn-primary dim" data-toggle=modal data-target='#modal-newcommande'><i class="fa fa-cart-plus"></i> Nouvelle commande</button>
                    </div>
                    <div class="col-md">
                        <button class="btn btn-default dim" data-toggle="modal" data-target='#modal-changement-{{item.groupe.id}}'><i class="fa fa-refresh"></i> Changement de produits </button>
                    </div>
                    <div class="col-md">
                        <button class="btn btn-warning dim" data-toggle="modal" data-target='#modal-livraison-{{item.groupe.id}}'><i class="fa fa-truck"></i> Faire livraison aujourd'hui</button>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
</div>
</div>
