{% load myfilters %} 
{% load humanize %}


{% load i18n %} 
<div class="modal inmodal fade" id="modal-attente">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{% translate "Liste des versements en attentes" %}</h4>
                <div class="offset-md-4 col-md-4">
                   <input type="text" id="search" class="form-control text-center" placeholder="{% translate 'Rechercher un versements' %}"> 
               </div>
           </div>
           <div class="modal-body">
            <table class="table table-bordered table-hover table-operation">
                <tbody class="tableau-attente">
                    {% for mouvement in attentes %}
                        <tr>
                            <td  width="15"><a target="_blank" href="{% url 'fiches:boncaisse' mouvement.id %}"><i class="fa fa-file-text-o fa-2x"></i></a></td>
                            <td>
                                <h6 style="margin-bottom: 3px" class="mp0 text-uppercase gras text-{% if mouvement.type.etiquette|add:0 == request.typemouvement.DEPOT|add:0 %}green {% else %}red{% endif %}">{{mouvement.name}} </span> <span class="pull-right"><i class="fa fa-clock-o"></i> {{mouvement.created_at}}</span></h6>
                                <i>{{mouvement.comment}}</i>
                            </td>
                            <td class="text-center gras" style="padding-top: 12px;">
                                {{mouvement.montant|intcomma}} {{request.societe.devise}}
                            </td>
                            <td width="110" class="text-center" >
                                <small>{{mouvement.structure}}</small><br>
                                <small>{{mouvement.numero}}</small>
                            </td>
                            <td class="text-center">
                                <button onclick="valider_mouvement('{{mouvement.id}}')" class="cursor simple_tag"><i class="fa fa-file-text-o"></i> {% translate "Valider" %}</button>
                                <span style="display: none">{% translate "en attente" %}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><hr><br>
    </div>
</div>
</div>

