<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "./partials/meta.html" %}
    {% include "./partials/css_import.html" %}

    {% block title %}
        <title>BRICX</title>    
    {% endblock title %}
</head>


{% block main %}
    <body>
        <h1>Hello world</h1>
    </body>
{% endblock main %}


{% include "./partials/js_import.html" %}
{% include "../extra/loader.html" %}


<script>
    $(function(){
            // selecteur des onglets item de page
            var modul = "{{request.module_name}}"
            var url = "{{request.page_name}}"
                
            if (url == "clients" || url == "client") {
                url = "clients";
            }
        
            $("nav ul.metismenu li").removeClass('active');
            $("nav ul.metismenu li").each(function (index, el) {
                if ($(this).attr("id") == url) {
                    $(this).addClass("active")
                    $(this).parent("ul").addClass("in");
                    $(this).parent("ul").parent("li.groupe").addClass("active");
                }
            });
        
            $("a.onglets").each(function () {
                if ($(this).attr("id") == "onglet-" + modul) {
                    $("a.onglets").removeClass("active btn-warning")
                    $("a.onglets").addClass("btn-white");
                    $(this).addClass("active btn-warning").removeClass("btn-white");
                }
            })
        
    })
    </script>

</html>




{% block style %}

{% endblock style %}


{% block script %}

{% endblock script %}
