{% extends "layout/base_sidebar_boutique.html" %} 
{% load static %} 
{% load humanize %} 
{% load myfilters %}

{% block wrapper %} 

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-9">
        <h2 class="text-uppercase text-green gras">Les commandes en cours</h2>
    </div>
    <div class="col-sm-3">
        <a class="pull-right btn btn-white btn-sm" style="margin-top: 5%" href="{% url 'boutique:commandes:commandes1' %}"><i class="fa fa-list"></i> Affichage en tableau</a>
    </div>

</div>

<div class="wrapper wrapper-content">
   <div class="row">

{% if datas|length > 0 %}
    {% for item in datas %}
    <div class="col-md-4 col-sm-6">
        <div class="social-feed-box">
            <div class="float-right">
                <{% include 'commande/extra/option_commande.html' with groupe=item.groupe %}
            </div>
            <div class="social-avatar">
                <a href="" class="float-left">
                    <img alt="image" src="{% static request.societe.logo %}">
                </a>
                <div class="media-body">
                    <a class="text-capitalize text-dark gras" href="{% url 'boutique:clients:client' item.groupe.client.id  %}">{{ item.groupe.client.name }} ({{ item.commandes | length}})</a>
                    <small class="text-muted">Livraison prévue pour le {{ item.groupe.datelivraison }}</small><br>
                </div>
            </div>
            <div class="social-footer">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for key in item.briques %}
                            <th class="text-center small gras">{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for key in item.briques %}
                            <th class="text-center ">{{ item.briques | dict_value:key }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% include 'extra/empty.html' %}
    {% endif %}
</div>


</div>



{% endblock wrapper %} 
