{% extends "layout/base_sidebar_boutique.html" %} 
{% load static %} 
{% load i18n %} 
{% load humanize %} 
{% load myfilters %}

{% block wrapper %} 

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-9">
        <h2 class="text-uppercase text-green gras">{% translate "Les commandes en cours" %}</h2>
    </div>
    <div class="col-sm-3">
        <!-- <a class="pull-right btn btn-white btn-sm" style="margin-top: 5%" href="{% url 'boutique:commandes:commandes1' %}"><i class="fa fa-list"></i> Affichage en tableau</a> -->
    </div>

</div>

<div class="wrapper wrapper-content">
   <div class="row">

{% if datas|length > 0 %}
    {% for item in datas %}
    <div class="col-lg-3 col-md-4 col-sm-6 item">
        <div class="social-feed-box">
            <div class="float-right mp5">
                <button data-toggle="modal" data-target="#infos-groupecommande-{{item.groupe.id}}" class="btn-white cursor float-right" onclick="session('groupecommande_id', '{{item.groupe.id}}')"  ><i class="fa fa-eye"></i></button>
            </div>
            <div class="social-avatar">
                <div class="media-body">
                    <a class="text-capitalize text-dark gras" href="{% url 'boutique:clients:client' item.groupe.client.id  %}">{{ item.groupe.client.name }} ({{ item.commandes | length}})</a>
                    <small class="text-muted">{% translate "Livraison prévue pour le" %} {{ item.groupe.datelivraison | naturalday }}</small><br>
                    {% if item.livraisons_encours|length > 0 %}
                    <p class="text-blue">{{ item.livraisons_encours | length }} {% translate "livraison{{ item.livraisons_encours|pluralize }} en cours pour cette commande" %}</p>
                    {% endif %}
                </div>
            </div>
            <div class="social-footer">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for key in item.briques %}
                            <th class="text-center small gras">{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for key in item.briques %}
                            <th class="text-center ">{{ item.briques | dict_value:key | start0 }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="">{% include 'extra/empty.html' %}</div>
    {% endif %}
</div>


{% include 'clients/modals/client.html' with element=client %}
{% include 'clients/modals/crediter.html' with items=modepayements %}
{% include 'clients/modals/rembourser.html' with items=modepayements %}

{% include 'commande/modals/new_commande.html' with modes=modepayements zones=zonelivraisons briques=briques %}



{% for item in datas %}
{% include 'commande/modals/commande_infos.html' with item=item %}
{% include 'commande/modals/changer_produit.html' with item=item briques=briques %}
{% include 'livraison/modals/new_livraison.html' with item=item %}
{% for commande in item.commandes %}
    {% include 'commande/modals/regler_commande.html' with commande=commande modes=modepayements %}
    {% include 'commande/modals/liste_versement.html' with reglements=commande.commande_reglement.all %}
{% endfor %} 
{% endfor %} 


</div>

{% endblock wrapper %} 


{% block script %}
<script>
    {% include "clients/pages/client.js" %}
    {% include 'commande/modals/new_commande.js' %}
    {% include 'livraison/modals/livraison.js' %}
</script>
{% endblock %}
